@model SalesForceAPI.Models.Salesforce1.OrderItem

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>OrderItem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PricebookEntryId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PricebookEntryId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OriginalOrderItemId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OriginalOrderItemId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AvailableQuantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AvailableQuantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ListPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ListPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServiceDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedById)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedById)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastModifiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastModifiedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastModifiedById)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastModifiedById)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SystemModstamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SystemModstamp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderItemNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderItemNumber)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
