@model IEnumerable<SalesForceAPI.Models.Salesforce1.Contract>

@{
    ViewBag.Title = "Index";
}
@if (User.IsInRole("admin"))
{
    <div class="jumbotron row">
        <div class="col-md-2 text-center">
            <h3>Accounts</h3>
            <p>
                <a href="http://localhost:19536/AccountsForce" class="btn btn-primary btn-block">
                    <span class="glyphicon glyphicon-briefcase"></span>
                </a>
            </p>
        </div>
        <div class="col-md-2 text-center">
            <h3>Contracts</h3>
            <p>
                <a href="http://localhost:19536/Contracts" class="btn btn-primary btn-block">
                    <span class="glyphicon glyphicon-folder-close"></span>
                </a>
            </p>
        </div>
        <div class="col-md-2 text-center">
            <h3>Products</h3>
            <p>
                <a href="http://localhost:19536/Product2" class="btn btn-primary btn-block">
                    <span class="glyphicon glyphicon-cloud"></span>
                </a>
            </p>
        </div>
        <div class="col-md-2 text-center">
            <h3>Order</h3>
            <p>
                <a href="http://localhost:19536/OrderItems" class="btn btn-primary btn-block">
                    <span class="glyphicon glyphicon-credit-card"></span>
                </a>
            </p>
        </div>
        <div class="col-md-2 text-center">
            <h3>Bill Details</h3>
            <p>
                <a href="http://localhost:19536/Orders" class="btn btn-primary btn-block">
                    <span class="glyphicon glyphicon-barcode"></span>
                </a>
            </p>
        </div>
        <div class="col-md-2 text-center">
            <h3>Contacts</h3>
            <p>
                <a href="http://localhost:19536/Contacts" class="btn btn-primary btn-block">
                    <span class="glyphicon glyphicon-phone"></span>
                </a>
            </p>
        </div>
    </div>
}
<h2>Contracts</h2>
<a href="https://na30.salesforce.com/800/e?retURL=%2F800%2Fo" target="_blank">Create New Contract</a>
@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>     
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>       
        <th>
            @Html.DisplayNameFor(model => model.ContractTerm)
        </th>   
        <th>
            @Html.DisplayNameFor(model => model.ContractNumber)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>     
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>       
        <td>
            @Html.DisplayFor(modelItem => item.ContractTerm)
        </td>       
        <td>
            @Html.DisplayFor(modelItem => item.ContractNumber)
        </td>      
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.Id }) |*@
            @Html.ActionLink("Details", "Details", new { id=item.Id }) 
            @*@Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
        </td>
    </tr>
}

</table>
