@model IEnumerable<SalesForceAPI.Models.Salesforce1.Contract>

@{
    ViewBag.Title = "Index";
}

<h2>Contracts</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>     
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>       
        <th>
            @Html.DisplayNameFor(model => model.ContractTerm)
        </th>   
        <th>
            @Html.DisplayNameFor(model => model.ContractNumber)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>     
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>       
        <td>
            @Html.DisplayFor(modelItem => item.ContractTerm)
        </td>       
        <td>
            @Html.DisplayFor(modelItem => item.ContractNumber)
        </td>      
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
