@model SalesForceAPI.Models.Salesforce1.Account

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Account</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BillingStreet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BillingStreet)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BillingCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BillingCity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BillingState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BillingState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BillingPostalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BillingPostalCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BillingCountry)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BillingCountry)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
